{% extends 'basefront.html.twig' %}

{% block body %}
<h1 style="color: #007bff;">Envoyer votre question!</h1>

    {{ include('question_ass/_form.html.twig') }}

    <a href="{{ path('app_question_ass_front_index2') }}">back to list</a>

{% endblock %}
