{% extends 'basefront.html.twig' %}

{% block body %}
<h1 style="color: #007bff;">Formulaire de Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_front_index2') }}">back to list</a>
{% endblock %}