{% extends 'home/base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un nouveau Evenement</h1>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_evenement_index') }}"> 
                    Liste des évènements
                </a>
            </div>
            <div class="card-body">
                 {{ include('evenement/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

