{% extends 'basefront.html.twig' %}

{% block title %}Edit QuestionAss{% endblock %}

{% block body %}
    <h1>Edit QuestionAss</h1>

    {{ include('question_ass_front/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_question_ass_front_index') }}">back to list</a>

    {{ include('question_ass_front/_delete_form.html.twig') }}
{% endblock %}
