{% extends 'basefront.html.twig' %}

{% block title %}New QuestionAss{% endblock %}

{% block body %}
    <h1>Create new QuestionAss</h1>

    {{ include('question_ass_front/_form.html.twig') }}

    <a href="{{ path('app_question_ass_front_index') }}">back to list</a>
{% endblock %}
